@font-face {
  font-family: "iconfont"; /* Project id 4207381 */
  src: url('//at.alicdn.com/t/c/font_4207381_b74n4ekj2di.woff2?t=1694793397482') format('woff2'),
       url('//at.alicdn.com/t/c/font_4207381_b74n4ekj2di.woff?t=1694793397482') format('woff'),
       url('//at.alicdn.com/t/c/font_4207381_b74n4ekj2di.ttf?t=1694793397482') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianqi:before {
  content: "\e694";
}

.icon-rili:before {
  content: "\e8b4";
}

.icon-shuaxin:before {
  content: "\e624";
}

.icon-xuanxiangqiaguanbianniu:before {
  content: "\e666";
}

.icon-xingxing:before {
  content: "\e870";
}

.icon-arrow-left-01-sharp:before {
  content: "\e6fd";
}

.icon-kefu:before {
  content: "\e741";
}

.icon-shoucang:before {
  content: "\e622";
}

.icon-jiaoyifenxi:before {
  content: "\e665";
}

.icon-suifangguanli:before {
  content: "\e65f";
}

.icon-shezhi:before {
  content: "\e817";
}

.icon-fenxiang1:before {
  content: "\e61f";
}

.icon-a-jiantouyou:before {
  content: "\e647";
}

.icon-fenxiang:before {
  content: "\e600";
}

.icon-gerenzhongxin:before {
  content: "\e70b";
}

.icon-jianmeicao:before {
  content: "\e690";
}

.icon-message:before {
  content: "\e78a";
}

.icon-index:before {
  content: "\e626";
}
