@font-face {
  font-family: "iconfont"; /* Project id 4207381 */
  src: url('//at.alicdn.com/t/c/font_4207381_s319fkkwqjf.woff2?t=1691912077876') format('woff2'),
       url('//at.alicdn.com/t/c/font_4207381_s319fkkwqjf.woff?t=1691912077876') format('woff'),
       url('//at.alicdn.com/t/c/font_4207381_s319fkkwqjf.ttf?t=1691912077876') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang1:before {
  content: "\e61f";
}

.icon-a-jiantouyou:before {
  content: "\e647";
}

.icon-fenxiang:before {
  content: "\e600";
}

.icon-gerenzhongxin:before {
  content: "\e70b";
}

.icon-jianmeicao:before {
  content: "\e690";
}

.icon-message:before {
  content: "\e78a";
}

.icon-index:before {
  content: "\e626";
}